/* 01:07 */


h1 {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 60px;
    top: 20px;
    color: #0A3871;
}

#logo {
    padding-left: 84px;
    padding-top: 40px
}

#entrada::placeholder {
    color: #0A3871;
    /* font-weight: bold */
}

#entrada {
    width: 100%;
    height: 700px;
    color: #0A3871;
    background: #E5E5E5;
    /* align-items: center; */
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 240px;
    resize: none;
    border: none;
    border-color: transparent;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 200px;
    font-size: 20px;
    line-height: 100%;
}

/* .textAreaOut {
    width: 400px;
    height: 944px; 
} */

.txtAreaOut {
    position: absolute;
    width: 375px;
    height: 944px;
    left: 1000px;
    top: 40px;
    border-bottom: 40px;
    margin-bottom: 50px;
    padding: 50px 20px 20px 20px;


    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#muñeco {
    padding-top: 50%;
    padding: auto;
    align-items: center;
    padding-left: 10%;


}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-left: 240px; */

}

#imgAdv {
    /* margin-left: 280px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#txt0 {
    /* margin-left: 280px; */
    /* padding-left:240px; */
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;
}

#txt1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    /* Gray/gray-500 */

    color: #343A40;
}

#txt2 {
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 150%;
    /* or 24px */
    resize: none;
    border: none;
    border-color: transparent;
    text-align: center;

    /* Gray/gray-400 */

    color: #495057;
}

/* 
#salida {
    position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;
border-bottom: 40px;


background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
} */

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* padding-left: 240px; */
    position: absolute;
    width: auto;
    height: 67px;
    /* left: 240px; */
    top: 885px;
    margin-left: 230px;
}


body {
    background: #E5E5E5;
}

.button-encriptar {
    /* Button */

    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    /* padding: 30px; */

    position: static;
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    /* flex-grow: 0; */
    /* margin: 0px 20px; */




}

#text-encriptar {
    /* TEXT */
    /* position: static; */
    width: auto;
    height: 19px;
    text-align: center;
    /* left: 24px;
    top: 24px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    /* margin: 0px 8px; */

}

.button-desencriptar {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: flex-end;
    padding: 24px;

    position: static;
    width: 100%;
    height: 67px;
    left: 352px;
    top: 0px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

#text-desencriptar {
    position: static;
    width: 100%;
    height: 19px;
    left: 25px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px -3px;
}

#text-copy {
    position: static;
    /* width: 280px; */
    height: 19px;
    left: 20px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px -3px;
}

#copy {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 40px;
    top: 845px;
    background: #FFFFFF;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
}

.button-copy2 {
    /* position: absolute; */
    width: 336px;
    height: 67px;
    /* left: 1032px;
top: 885px; */
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
}

.invisible {
    display: none;
}

.mostrar {
    font-size: 34px;
    height: 100%;
}




/* ================================================================= TABLET VIEW =====================================================  */

@media (max-width: 768px) {

    #entrada {
        width:auto;
    }
    #logo {
        width: 32px;
        height: 48px;
        padding-left: 40px;
        padding-top: 73px
            /* left 84,right 40 */
    }

    #entrada {
        width: 80%;
        height: 200px;
        color: #0A3871;
        background: #E5E5E5;
        /* align-items: center; */
        padding-left: 15px;
        padding-top: 60px;
        margin-left: 60px;
        resize: none;
        border: none;
        border-color: transparent;


        font-family: 'Inter';
        font-style: normal;
        font-weight: 200px;
        font-size: 20px;
        line-height: 100%;
    }


    .txtAreaOut {
        position: absolute;
        width: 100%;
        height: 133px;
        left: 25px;
        top: 620px;
        bottom: 20px;
        /* margin: 5px 0px; */
        padding-top: 20px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 7px;

        position: absolute;
        width: 229px;
        height: 18px;
        left: 60px;
        top: 500px;

        /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-left: 240px; */

    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        left: 50px;
        top: 540px;
        margin-left: auto;
    }

    #muñeco {
        display: none;
    }
    
    #copy {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 0px 0px 20px;

        position: absolute;
        width: 567px;
        height: 67px;
        left: 70px;
        top: 90px;
        background: #FFFFFF;

        /* Dark blue/dark-blue-300 */

        border: 1px solid #0A3871;
        box-sizing: border-box;
        border-radius: 24px;
    }

    
}

/* ================================================================= PHONE VIEW ================================================================= */
@media (max-width: 480px) {


    #entrada {
        width:auto;
    }

    #logo {
        width: 32px;
        height: 48px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #entrada {
        height: 200px;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 7px;

        position: absolute;
        width: auto;
        height: 18px;
        left: 40px;
        top: 500px;

        /* display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        padding-left: 240px; */

    }



    .botones {
        width: 100%;/* display: flex; */
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin: auto;
        /* padding-left: 240px; */

        /* position: absolute; */
        /* width: 200px;
        height: 67px; */
        left: 16px;
        top: 540px;

        
    }

    .button-encriptar {
      
        position: static;
        width: 100%;
        height: 67px;
        left: 0px;
        top: 0px;


    }

    .button-desencriptar {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: flex-end;
        /* padding: 24px; */

        text-align: center;
        position: static;
        width: 100%;
        height: 67px;
        left: 16px;
        top: 850px;

        /* Light gray */

        background: #D8DFE8;
        /* Dark blue/dark-blue-300 */

        border: 1px solid #0A3871;
        box-sizing: border-box;
        border-radius: 24px;

        /* Inside auto layout */

        /* flex: none;
        order: 1;
        flex-grow: 0; */
        margin: 15px 0px;
    }



    #muñeco {
        display: none;
    }

    .txtAreaOut {
        position: absolute;
        height: 200px;
        /* left: 40px; */
        top: 700px;
        bottom: 50px;
        margin: 5px 0px;
        /* margin-right: 50px; */
        /* border-bottom: 40px;  */
        /* margin-bottom: 50px; */
        padding: 10px 10px 10px 10px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    #txt1 {
        font-size: 18px;
    }

    #copy {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 0px 0px 20px;

        position: absolute;
        width: 250px;
        height: 67px;
        left: 40px;
        top: 150px;
        background: #FFFFFF;

        /* Dark blue/dark-blue-300 */

        border: 1px solid #0A3871;
        box-sizing: border-box;
        border-radius: 24px;
    }

    /* .footer {

}
   */
    .mostrar {

        font-size: 15px;
        height: 150px;
    }
}